# macOS
.DS_Store

# Flutter/Dart specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter_gen/
build/
/.dart_tool/
.pub-cache/
.pub/
.packages
.idea/
*.iml

# Android specific
/local.properties
/build/
/captures/

# iOS specific
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/Flutter.xcodeproj/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/AppFrameworkInfo.plist
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Profile.xcconfig
/ios/Flutter/Release.xcconfig
/ios/Runner.xcodeproj/

# Visual Studio Code specific
.vscode/

# Android Studio specific
.idea/
*.iml

# Xcode specific
*.xcuserdatad
*.xccheckout
.DS_Store

# Miscellaneous
*.lock
*.log
*.zip
*.tar.gz
*.swp
